<div class="appointment-list item-list mb-3">
  <div class="pet-item col media py-3"
    *ngFor="let item of aptList">


    <div class="pet-info media-body">
      <div class="pet-head d-flex">
        <span class="pet-name" contenteditable="true"
          #petName (blur)="handleUpdate(item, 'petName', petName.innerText)">{{item.petName}}</span>
        <!-- <span class="apt-date ml-auto">{{item.aptDate}}</span> -->
      </div><!-- pet-head -->

      <div class="owner-name">
        <span class="label-item">Submitted by: </span>
        <span contenteditable="true"
          #ownerName (blur)="handleUpdate(item, 'ownerName', ownerName.innerText)">{{item.ownerName}}</span>
      </div>
      <div class="apt-notes" contenteditable="true"
        #aptNotes (blur)="handleUpdate(item, 'aptNotes', aptNotes.innerText)">{{item.aptNotes}}</div>
    </div><!-- pet-info -->

    <div class="apt-notes">
        <span class="label-item">Priority: </span>
        <span class="label-item1"> {{item.aptDate}}</span>
        <span class="label-item"> Category: </span>
        <span class="label-item1"> {{item.aptTime}}</span>
    </div>

    <div class="ml-3">
        <button class="pet-delete btn btn-sm"
         (click)="handleDelete(item)">
        <fa-icon icon="times" class="delete-btn"></fa-icon>
        </button>
      </div><!-- media-left -->
  </div><!-- pet-item -->
</div><!-- appointment-list -->